:root {
    --azul-escuro: #040F41;
    --azul-claro: #646A87;
    --bg-cinza-card: #F5F5F5;
    --bg-cinza: #EFEDED;
}

@font-face {
    font-family: 'Gotham';
    src: url('/Gotham-font-family/Gotham/Gotham-Light.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }
@font-face {
    font-family: 'Gotham-black';
    src: url('/Gotham-font-family/Gotham/Gotham-Black.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }



.cabecalho-prod{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
  
  
   
}

.logo{
    cursor: pointer;
}



.nav-prod{
    width: auto;
padding: 15px;
    background-color: var(--azul-escuro);
    border-radius: 50px;
    align-items: center;
}

.bi-arrow-left-circle-fill{
    color: #040F41;
    font-size: large;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;

}

.container-prod{
    margin: 0px 40px;
   display: flex;
   gap: 70px;
   display: flex;
   justify-content: center;
   align-items: center;

   
}

.container-prod a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.container-prod a:hover{
    font-weight: bolder;
}

.icons{
    color: #040F41;
}

.cabecalho-mobile-prod{
    display: none;
}


@media (max-width: 836px){
    .cabecalho-prod{
        display: none;
    }

    .cabecalho-mobile-prod {
        position: relative; /* Tornando o elemento pai */
        display: flex;
        justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontalmente) */
        align-items: center; /* Centraliza os elementos ao longo do eixo transversal (verticalmente) */
        padding-top: 15%;
    }
    
    .logo-mobile-prod {
        position: absolute;
        left: 4%;
        /* Estilos para o logotipo */
    }

    .head-mobile-prod {
        position: absolute;
        right: 4%;
        /* Estilos para o menu dropdown */
    }

    .bi-list {
        font-size: 50px; /* Ajusta o tamanho do ícone */
        color:#040F41; /* Define a cor do ícone como vermelho */
    }

    .dropdown, .dropdown:hover{
        background-color: #EFEDED;
        border: none;
    }

    .dropdown a{
        text-decoration: none;
        color: #040F41;
    }

    
} 