
:root {
    --azul-escuro: #040F41;
    --azul-claro: #646A87;
    --bg-cinza-card: #F5F5F5;
    --bg-cinza: #EFEDED;
}
.section{
    background-color: white;
    color: var(--azul-escuro) ;
   
}


.texto{
    font-family: Gotham;
    font-weight: bold;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

.titulooo{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: Gotham-black;
        color: #040F41;
        font-size: 200%;
        padding-top: 10%;

}

@media (max-width: 836px){
    .titulooo{
        font-size: 120%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: Gotham-black;
        color: #040F41;
        margin-top: 20%;
    }
}