
:root {
    --azul-escuro: #040F41;
    --azul-claro: #646A87;
    --bg-cinza-card: #F5F5F5;
    --bg-cinza: #EFEDED;
}
.section{
    background-color: white;
    color: var(--azul-escuro) ;
   
}


.texto{
    font-family: Gotham;
    font-weight: bold;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

.titulooo{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: Gotham-black;
        color: #040F41;
        font-size: 200%;
        padding-top: 10%;

}

@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.btw{
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #030b2c;
    cursor: pointer;
    animation: jump 2s infinite;
}


@media (max-width: 836px){
    .titulooo{
        font-size: 120%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: Gotham-black;
        color: #040F41;
        margin-top: 20%;
    }
}