:root {
    --azul-escuro: #040F41;
    --azul-claro: #646A87;
    --bg-cinza-card: #F5F5F5;
    --bg-cinza: #EFEDED;
}

@font-face {
    font-family: 'Gotham';
    src: url('/Gotham-font-family/Gotham/Gotham-Light.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }
@font-face {
    font-family: 'Gotham-black';
    src: url('/Gotham-font-family/Gotham/Gotham-Black.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }


.footer{
    background-color: #040F41;
    height: auto;
}

.content{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
    padding-top: 10%;

}

.redes{
    margin-top: -25%;
}
.titlee{
    font-family: Gotham-black;
    font-size: 120% ;
    margin-bottom: 5%;
}

.text .ctt a {
    text-decoration: none;
    color: white;
    font-family: Gotham;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
 }

 .ctt a:hover{
    padding: 1px;
 }

 .cttt{
    display: flex;
    justify-content: center;
    gap: 10%;
    font-size: 150%;
 }

 .cttt i:hover{
    cursor: pointer;
 }



 @media (max-width: 836px){
    .titlee, .text a, .cttt{
        font-size: 90% ;
    }


 }