:root {
    --azul-escuro: #040F41;
    --azul-claro: #646A87;
    --bg-cinza-card: #F5F5F5;
    --bg-cinza: #EFEDED;
}

@font-face {
    font-family: 'Gotham';
    src: url('/Gotham-font-family/Gotham/Gotham-Light.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }
@font-face {
    font-family: 'Gotham-black';
    src: url('/Gotham-font-family/Gotham/Gotham-Black.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }


.footer{
    background-color: #040F41;
    height: auto;
    padding-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.content{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;

}


.redes{
    margin-top: 10%;
}
.titlee-f{
    font-family: Gotham-black;
    font-size: 120% ;
    margin-bottom: 5%;
}

.text-f .ctt-f a {
    text-decoration: none;
    color: white;
    font-family: Gotham;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
 }

 .text-f{
    margin-left: 10%;
 }

 .ctt-f{
    width: 300px;
 }

 .ctt-f a:hover{
    cursor: pointer;
    font-weight: bold;
 }

 .cttt-f{
    display: flex;
    justify-content: center;
    gap: 10%;
    font-size: 150%;
 }

 .cttt-f i:hover{
    cursor: pointer;
    font-weight: bold;

 }

.text-f .redes{
    width: 350px;
    margin-left: 5%;
}

 @media (max-width: 836px){
    .titlee-f, .text-f a, .cttt-f{
        font-size: 90% ;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cttt-f i{
        margin-left: -30%;
    }
 }