:root {
    --azul-escuro: #040F41;
    --azul-claro: #646A87;
    --bg-cinza-card: #F5F5F5;
    --bg-cinza: #EFEDED;
}

@font-face {
    font-family: 'Gotham';
    src: url('/Gotham-font-family/Gotham/Gotham-Light.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }
@font-face {
    font-family: 'Gotham-black';
    src: url('/Gotham-font-family/Gotham/Gotham-Black.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }

.section {
    background-color: var(--bg-cinza);
    font-family:  'Gotham', sans-serif
   
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    flex: row;
    padding-top: 40px;
    background-color: var(--bg-cinza) ;
   
}

.logo{
    cursor: pointer;
}



.nav{
    width: auto;
    height: 60px;
    background-color: var(--bg-cinza);
    align-items: center;
}

.container{
    margin: 0px 40px;
   display: flex;
   gap: 70px;
   
}

.container a{
    color: #040F41;
    text-decoration: none;
    cursor: pointer;
    font-family: Gotham-black;
}

.aa:hover{
    color: #646A87;
}
.container a:hover{
    font-weight: bolder;
}

.icons{
    color: #040F41;
}

.cabecalho-mobile{
    display: none;
}


@media (max-width: 836px){
    .cabecalho{
        display: none;
    }

    .cabecalho-mobile {
        position: relative; /* Tornando o elemento pai */
        display: flex;
        justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontalmente) */
        align-items: center; /* Centraliza os elementos ao longo do eixo transversal (verticalmente) */
        padding-top: 15%;
        background-color: var(--bg-cinza) ;
    }
    
    .logo-mobile {
        position: absolute;
        left: 4%;
        /* Estilos para o logotipo */
    }

    .head-mobile {
        position: absolute;
        right: 4%;
        /* Estilos para o menu dropdown */
    }

    .bi-list {
        font-size: 50px; /* Ajusta o tamanho do ícone */
        color:#040F41; /* Define a cor do ícone como vermelho */
    }

    .dropdown, .dropdown:hover{
        background-color: #EFEDED;
        border: none;
    }

    .dropdown a{
        text-decoration: none;
        color: #040F41;
    }

    
} 