:root {
    --azul-escuro: #040F41;
    --azul-claro: #646A87;
    --bg-cinza-card: #F5F5F5;
    --bg-cinza: #EFEDED;
}


.section {
    background: white;
    height: 100%;
    padding-bottom: 5%;
}

.titulo {
    font-family: Gotham-black;
    color: var(--azul-escuro);
    font-size: 30px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    gap: 50px;

}

.a{
    margin-top: -5%;
}

.card {
    width: 450px;
    height: 320px;
    border: none;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.produto h1 {
    display: flex;
    justify-content: center;
    margin-left: -15%;
    font-family: Gotham;
    font-weight: 900;
    margin-top: 10%;
    font-size: 130%;
    text-transform: uppercase;
}

.imagem img {
    margin-top: 12%;
    border-radius: 15px;
    width: 350px;
    height: 250px;
    
}

.seta {
    display: flex;
    color: black;
    font-size: 30px;
    cursor: pointer;
    margin-top: 5%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.btn button {
    padding: 20px 40px;
    background-color: #040F41;
    color: white;
    border: none;
    border-radius: 15px
}


.mobile {
    display: none;
}

