@media  (max-width: 836px){
    .productsMobile {
        position: relative; /* Para que o botão fique relativo ao contêiner pai */
      }
  
  
    .carousel-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .card-carrossel {
        text-align: center;
        color: #040F41;
        
    }
   
    .card-carrossel h3{
        margin-top: 20%;
        margin-bottom: 5%;
        font-size: 120%;
        color: #040F41;
        font-family: Gotham;
        font-weight: bolder;
    }

    .productsMobile{
        margin-top: 20%;
        margin-bottom: 50%;
    }
    .titul{
        font-family: Gotham-black;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 120%;
        color: #040F41;
    }
    
    .arrow-button {
        position: absolute;
        top: 100%;
        left: 50%; /* Alterado para left */
        transform: translateX(-50%); /* Adicionado para centralizar */
        background: transparent;
        border: none;
        font-size: 24px;
        color: #040F41; /* Cor das setas */
        cursor: pointer;
        outline: none;
        margin-top: 15%;
      }


    .bt{
        margin-top: 4%
    }
     .acardl{
        padding: 2px 15px;
        border: 2px solid #040F41;
        text-decoration: none;
        border-radius: 15px;
        font-size: 70%;
        font-family: Gotham;
        color: #040F41;
        font-weight: bold;
     }
    
 
    }