:root {
    --azul-escuro: #040F41;
    --azul-claro: #646A87;
    --bg-cinza-card: #F5F5F5;
    --bg-cinza: #EFEDED;
}

@font-face {
    font-family: 'Gotham';
    src: url('/Gotham-font-family/Gotham/Gotham-Light.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }
@font-face {
    font-family: 'Gotham-black';
    src: url('/Gotham-font-family/Gotham/Gotham-Black.otf') format('truetype'); /* Substitua o caminho pelo caminho real do arquivo de fonte */
  }



.titulo {
    font-family: Gotham-black;
    color: var(--azul-escuro) ;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.roww {
    display: flex;
    justify-content: center; /* Centralizando os cards horizontalmente dentro de cada linha */
    flex-direction: row;
    gap: 4%; /* Espaçamento entre os cards */
}

.rowww{
    display: flex;
    justify-content: center; /* Centralizando os cards horizontalmente dentro de cada linha */
    flex-direction: row;
    gap: 4%; /* Espaçamento entre os cards */
}



.block{
    display: flex;
    

}

.box{
    width: 300px ;
    height: 300px;
    border-radius: 15px;
    background-color: var(--bg-cinza-card);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}



.tit{
    margin-left: 50px;

    margin-top: 7%;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px ;

}

.produto{
    font-family: Gotham;
    font-weight: bold;
    color: #040F41;
    margin-left: 5%;
}

.roww .preco, .rowww .preco{
    display: flex;
    justify-content: flex-end;
    border: #EFEDED 2px solid;
    border-radius: 50px; 
    padding: 5px 10px;
    background-color: #EFEDED;
    font-size: medium;
    font-weight: bold;
}

.categoria p{
    color: var(--azul-escuro);
    margin-top: 5px;
}

.categoria{
    color: #040F41;
    font-family: 'Gotham';
    font-size:small;
    margin-left: 5%;

}




.roww{
    display: flex;
    
}
.roww .box{
    width: 300px;
    height: 300px;
    gap: 10%;
}
.roww .image{
    width: 200px;
    height: 200px;
}

.roww .line, .rowww .line{
    width: 350px;
    font-size: 20px
}


.rowww .box{
    width: 300px;
    height: 300px;
    gap: 10%;
}
.rowww .image{
    width: 200px;
    height: 200px;
}

